:root {
    --vp-c-brand: #F1CAFF;
    --vp-button-brand-border: #F1CAFF;
    --vp-c-brand-dark: #edbcff;
    --vp-button-brand-border-dark: #edbcff;
    --vp-c-green-light: #f4d6ff;
    --vp-c-green-lighter: #f4d6ff;
    --vp-custom-block-tip-text: #42d392;
    --vp-badge-tip-text: #42d392;
    --friend-link-shadow: #e8e8e8;

}
#cursor {
    position: fixed;
    width: 18px;
    height: 18px;
    background: var(--vp-c-text-1);
    border-radius: 8px;
    opacity: 0.25;
    z-index: 99999999;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    /* transform: scale(1.2); */
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
}
