:root {
    --vp-c-brand: #F1CAFF;
    --vp-button-brand-border: #F1CAFF;
    --vp-c-brand-dark: #edbcff;
    --vp-button-brand-border-dark: #edbcff;
    --vp-c-green-light: #f4d6ff;
    --vp-c-green-lighter: #f4d6ff;
    --vp-custom-block-tip-text: #42d392;
}